{% extends "base.html.twig" %}

{% block title %}GarageParrot - Accueil
{% endblock %}

{% block body %}
    <div class = "container mt-4">
        <div class="jumbotron">
            <h1 class="display-4">Bienvenue au garage Parrot!</h1>
            <p class="lead">Ceci est notre page d'accueil. Trouver votre bonheur, c'est notre vocation.</p>
            <hr class="my-4">
            <p>Veuillez vous connecter pour profiter pleinement de l'application.</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="#" role="button">Inscription</a>
            </p>
        </div>
    </div>


{% endblock %}